.app{
    background-image: radial-gradient(circle, #797979, #d3d3d3);
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &_svg{
        z-index: 4;
    }
    &_section{
        background-color: whitesmoke;
        flex-direction: row;
        border-radius: 1.3rem;
        height: 80%;
        width: 70%;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.356);
        display: flex;
        @media(max-width: 56.25em){
            flex-direction: column;
            height: 100%;
            width: 100%;
        }
        &_nav{
            position: relative;
            flex-basis: 30%;
            border-bottom-left-radius: 1.3rem;
            border-top-left-radius: 1.3rem;
            background: linear-gradient(to left bottom, rgb(253, 3, 3), #ff0404);
            display: flex;
            flex-direction: column;
            padding: 2rem 0;
            @media(max-width: 56.25em){
                flex-direction: row;
                flex-wrap: wrap;
                flex-basis: 10%;
            }
            &-as{
                display: flex;
                align-items: center;
                padding: 1rem 1rem;
                margin-bottom: 0.9rem;
                font-size: 1.7rem;
                text-decoration: none;
                position: relative;
                color: white;
                span{
                    z-index: 2;
                }
                @media(max-width: 56.25em){
                    flex: 1;
                    padding: 0.5rem 1rem;
                    border: white 1px solid;
                    margin: 0rem;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    transform-origin: bottom;
                    left: 0;
                    width: 3px;
                    height: 100%;
                    background-color: #ff8800;
                    transform: scaleY(0);
                    transition: 0.3s ease transform, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; 
                }
                &:hover::before{
                    transform: scaleY(1);
                    width: 100%; 
                }
                &:active::before{
                    background-color: darken(#ff8800, 20);
                }
                &:nth-child(1){
                    border-top: 1px white solid;
                }
                &--selected::before{
                    transform: scaleY(1);
                    width: 100%; 
                }
                &--selected{
                    pointer-events: none;
                }
            }
        }
        &_content{
            flex-basis: 70%;
            overflow-y: scroll;
            position: relative;
            @media(max-width: 56.25em){
                flex-basis: 100%;
            }
            &--title{
                width: 100%;
                font-size: 3rem;
                text-align: center;
                padding: 3rem 0;
                background-color: whitesmoke;
                border-bottom: solid 1px rgb(202, 202, 202);
            }
            &-cont{
                padding: 1rem;
                margin: 1rem;
                background-color: rgb(231, 230, 230);
                border-top: solid 0.5rem rgb(0, 28, 73);
                border-radius: 0.5rem;
                &--text{
                    font-size: 1.6rem;
                }
                &--date{
                    font-size: 2rem;
                }
                &--image{
                    width: 50%;
                    padding: 2rem 0;
                    @media(max-width: 37.5em){
                        width: 100%;
                    }
                }
            }
        }
        &_content2{
            display: grid;
            padding: 2rem;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(4, 1fr);
            text-align: center;
            grid-gap: 3rem;
            &--big{
                grid-row: 1 / 4;
                justify-content: center;
                grid-column: 1 / 5;
                background: linear-gradient(to left bottom, rgb(0, 255, 0), #a12fff);
                color: rgb(255, 255, 255);
                display: flex;
                flex-direction: column;
                &-text{
                    font-size: 3rem;
                }
                &-textb{
                    font-size: 5rem;
                }
            }
            &--small{
                color: rgb(78, 78, 78);
                grid-column: span 2;
                padding: 2rem 1rem;
                &-text{
                    font-size: 2rem;
                }
                &-texts{
                    font-size: 3rem;
                }
            }
        }
    }
}
@media(max-width: 56.25em){
    .nav_app{
        right: 1%;
        top: 1%;
        height: 4rem;
        width: 4rem;
        &::after{
            width: 1.5rem;
        }
        &::before{
            width: 1.5rem;
        }
    }
}
#matematicas{
    border-color: orange;
}
#ciencias{
    border-color: rgb(0, 187, 0);
}
#español{
    border-color: rgb(0, 162, 255);
}
#force{
    border-color: rgb(117, 81, 67);
}
.math{
    background-color: var(--color1);
}
.esp{
    background-color: rgb(0, 174, 255);
}
.force{
    background-color: rgb(190, 135, 109);
}
.ciencias{
    background-color: rgb(94, 255, 0);
}
.formApp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}
#Grado{
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: var(--color2);
}
.Alumno{
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: var(--color2);
}
#reporte{
    border-color: red;
}
.pagos{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    @media(max-width: 56.25em){
        flex-direction: column;
    }
}
.pago{
    flex-basis: 60%;
    margin-right: 2rem;
    @media(max-width: 56.25em){
        margin: 0 0 2rem 0;
    }
    background-color: rgb(228, 228, 228);
    padding: 2rem;
    text-align: center;
    &_precio{
        font-size: 4rem;
        margin: 2rem 0;
    }
}
.estado{
    background-color: var(--color3);
    color: rgb(78, 78, 78);
    flex: 1;
    text-align: center;
    &_text{
        font-size: 3rem;
        color: black;
        padding: 2rem 0;
    }
}
.pagado{
    background-color: var(--color2);
}
.photo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem;
    border-bottom: 1px solid orange;
    padding-bottom: 1rem;
}
.photos{
    flex-basis: 30%;
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    &_img{
        width: 60%;
        border-radius: 100%;
    }
    &_text{
        font-size: 2rem;
    }
}
.formChange{
    margin: 0rem 2rem;
    border-bottom: 1px solid orange;
}
.inputChange{
    background-color: rgb(223, 223, 223) !important;
    border-radius: 1rem;
    transition: .3s ease;
    &:invalid{
        border-bottom: orange 0.3rem solid;
    }
    &:valid{
        border-bottom: green 0.3rem solid;
    }
}
.inputSelect{
    font-size: 2.3rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 4rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.513);
    border: solid rgb(255, 255, 255) 1px;
}
.h3-error{
    text-align: center;
    padding: 0rem 2rem;
}
#divisor{
    border-top: rgb(207, 207, 207) solid 1px;
}
#crearLocal{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
#crearReporte{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
#crearNoticias{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
.popup{
    position: absolute;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(60%) blur(10px);
}

.hiddenFill{
    display: none;
}
#Crear{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
}
.hiddenForm{
    left: -100% !important;
}
.confirmed{
    font-size: 1.5rem !important;
    top: -20% !important;
}
.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn-configurar{
    margin-bottom: 0;
    margin-top: 2rem;
}
#borrar{
    position: fixed;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .7s ease;
}
.deleteP{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
#Editar{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
}
#Formar{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
}
#EditarCliente{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
    overflow-y: scroll;
}
#borrarKid{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
    overflow-y: scroll;
}
#EditarProfesor{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
    overflow-y: scroll;
}
#CrearNinos{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
    overflow-y: scroll;
}
#EditarNinos{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
    overflow-y: scroll;
}
.imagenes{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    @media(max-width: 37.5em){
        flex-direction: column;
        align-items: center;
    }
}
.ima{
    width: 25%;
    border-radius: 50%;
    @media(max-width: 37.5em){
        width: 40%;
    }
}
.centered{
    text-align: center;
    @media(max-width: 27.375em){
        justify-content: center;
    }
}
.kid{
    background-color: #97D5E0;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
}
.tituloNiños{
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
.inputClientes{
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 0.5rem;
    padding: 1rem;
    border: var(--color1) solid 1px;
    background-color: #ffe0bd;
    outline: none;
}
.btn-usuarios{
    margin-top: 1rem;
}
.inputGrupo{
    margin-top: 3rem;
}
.pagadoCss{
    height: 100%;
    width: 100%;
}
.content{
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(221, 221, 221);
    border-radius: 1rem;
}
.text{
    font-size: 2rem;
}
#borrarPr{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
}
#FormarPr{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
}
#EditarPr{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
}
.logotipo{
    text-align: center;
    border-radius: 50%;
    height: 25%;
    width: 70%;
    top: 73%;
    right: 17%;
    position: absolute;
    @media(max-width: 56.25em){
        display: none;
    }
}
#EditarInforme{
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: .7s ease;
}
.division{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    @media(max-width: 87.5em){
        text-align: center;
    }
}
.bienImg{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    @media(max-width: 87.5em){
        height: 100%;
        width: 50%;
    }
}
.datosBien{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    &_datos{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media(max-width: 87.5em){
        grid-column: 1/ 3;
    }
}
.imagenBien{
    @media(max-width: 87.5em){
        grid-column: 1/ 3;
    }
}
.final{
    background-color: #fff9a4;
}
.ref{
    font-size: 1.6rem;
}
.rojo{
    background-color: #ffa4a4;
}
.verde{
    background-color: #b2ffa4;
}
.res{
    font-size: 2.3rem;
}
.centrado{
    text-align: center;
    margin-bottom: 2rem;
}
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
    background-color: #20bf6b;
}
.alert--error {
    background-color: #eb4d4b;
}