@charset "UTF-8";
.app {
  background-image: radial-gradient(circle, #797979, #d3d3d3);
  display: flex;
  justify-content: center;
  background-attachment: fixed;
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .app_svg {
    z-index: 4; }
  .app_section {
    background-color: whitesmoke;
    flex-direction: row;
    border-radius: 1.3rem;
    height: 80%;
    width: 70%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.356);
    display: flex; }
    @media (max-width: 56.25em) {
      .app_section {
        flex-direction: column;
        height: 100%;
        width: 100%; } }
    .app_section_nav {
      position: relative;
      flex-basis: 30%;
      border-bottom-left-radius: 1.3rem;
      border-top-left-radius: 1.3rem;
      background: linear-gradient(to left bottom, #fd0303, #ff0404);
      display: flex;
      flex-direction: column;
      padding: 2rem 0; }
      @media (max-width: 56.25em) {
        .app_section_nav {
          flex-direction: row;
          flex-wrap: wrap;
          flex-basis: 10%; } }
      .app_section_nav-as {
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
        margin-bottom: 0.9rem;
        font-size: 1.7rem;
        text-decoration: none;
        position: relative;
        color: white; }
        .app_section_nav-as span {
          z-index: 2; }
        @media (max-width: 56.25em) {
          .app_section_nav-as {
            flex: 1;
            padding: 0.5rem 1rem;
            border: white 1px solid;
            margin: 0rem; } }
        .app_section_nav-as::before {
          content: "";
          position: absolute;
          top: 0;
          transform-origin: bottom;
          left: 0;
          width: 3px;
          height: 100%;
          background-color: #ff8800;
          transform: scaleY(0);
          transition: 0.3s ease transform, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
        .app_section_nav-as:hover::before {
          transform: scaleY(1);
          width: 100%; }
        .app_section_nav-as:active::before {
          background-color: #995200; }
        .app_section_nav-as:nth-child(1) {
          border-top: 1px white solid; }
        .app_section_nav-as--selected::before {
          transform: scaleY(1);
          width: 100%; }
        .app_section_nav-as--selected {
          pointer-events: none; }
    .app_section_content {
      flex-basis: 70%;
      overflow-y: scroll;
      position: relative; }
      @media (max-width: 56.25em) {
        .app_section_content {
          flex-basis: 100%; } }
      .app_section_content--title {
        width: 100%;
        font-size: 3rem;
        text-align: center;
        padding: 3rem 0;
        background-color: whitesmoke;
        border-bottom: solid 1px #cacaca; }
      .app_section_content-cont {
        padding: 1rem;
        margin: 1rem;
        background-color: #e7e6e6;
        border-top: solid 0.5rem #001c49;
        border-radius: 0.5rem; }
        .app_section_content-cont--text {
          font-size: 1.6rem; }
        .app_section_content-cont--date {
          font-size: 2rem; }
        .app_section_content-cont--image {
          width: 50%;
          padding: 2rem 0; }
          @media (max-width: 37.5em) {
            .app_section_content-cont--image {
              width: 100%; } }
    .app_section_content2 {
      display: grid;
      padding: 2rem;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      grid-gap: 3rem; }
      .app_section_content2--big {
        grid-row: 1 / 4;
        justify-content: center;
        grid-column: 1 / 5;
        background: linear-gradient(to left bottom, lime, #a12fff);
        color: white;
        display: flex;
        flex-direction: column; }
        .app_section_content2--big-text {
          font-size: 3rem; }
        .app_section_content2--big-textb {
          font-size: 5rem; }
      .app_section_content2--small {
        color: #4e4e4e;
        grid-column: span 2;
        padding: 2rem 1rem; }
        .app_section_content2--small-text {
          font-size: 2rem; }
        .app_section_content2--small-texts {
          font-size: 3rem; }

@media (max-width: 56.25em) {
  .nav_app {
    right: 1%;
    top: 1%;
    height: 4rem;
    width: 4rem; }
    .nav_app::after {
      width: 1.5rem; }
    .nav_app::before {
      width: 1.5rem; } }

#matematicas {
  border-color: orange; }

#ciencias {
  border-color: #00bb00; }

#español {
  border-color: #00a2ff; }

#force {
  border-color: #755143; }

.math {
  background-color: var(--color1); }

.esp {
  background-color: #00aeff; }

.force {
  background-color: #be876d; }

.ciencias {
  background-color: #5eff00; }

.formApp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem; }

#Grado {
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: var(--color2); }

.Alumno {
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: var(--color2); }

#reporte {
  border-color: red; }

.pagos {
  display: flex;
  justify-content: space-between;
  margin: 1rem; }
  @media (max-width: 56.25em) {
    .pagos {
      flex-direction: column; } }

.pago {
  flex-basis: 60%;
  margin-right: 2rem;
  background-color: #e4e4e4;
  padding: 2rem;
  text-align: center; }
  @media (max-width: 56.25em) {
    .pago {
      margin: 0 0 2rem 0; } }
  .pago_precio {
    font-size: 4rem;
    margin: 2rem 0; }

.estado {
  background-color: var(--color3);
  color: #4e4e4e;
  flex: 1;
  text-align: center; }
  .estado_text {
    font-size: 3rem;
    color: black;
    padding: 2rem 0; }

.pagado {
  background-color: var(--color2); }

.photo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem;
  border-bottom: 1px solid orange;
  padding-bottom: 1rem; }

.photos {
  flex-basis: 30%;
  text-align: center;
  font-size: 3rem;
  margin: 1rem; }
  .photos_img {
    width: 60%;
    border-radius: 100%; }
  .photos_text {
    font-size: 2rem; }

.formChange {
  margin: 0rem 2rem;
  border-bottom: 1px solid orange; }

.inputChange {
  background-color: #dfdfdf !important;
  border-radius: 1rem;
  transition: .3s ease; }
  .inputChange:invalid {
    border-bottom: orange 0.3rem solid; }
  .inputChange:valid {
    border-bottom: green 0.3rem solid; }

.inputSelect {
  font-size: 2.3rem;
  padding: 1rem;
  width: 100%;
  margin-bottom: 4rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.513);
  border: solid white 1px; }

.h3-error {
  text-align: center;
  padding: 0rem 2rem; }

#divisor {
  border-top: #cfcfcf solid 1px; }

#crearLocal {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2rem; }

#crearReporte {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2rem; }

#crearNoticias {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2rem; }

.popup {
  position: absolute;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(60%) blur(10px); }

.hiddenFill {
  display: none; }

#Crear {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease; }

.hiddenForm {
  left: -100% !important; }

.confirmed {
  font-size: 1.5rem !important;
  top: -20% !important; }

.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.btn-configurar {
  margin-bottom: 0;
  margin-top: 2rem; }

#borrar {
  position: fixed;
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .7s ease; }

.deleteP {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem; }

#Editar {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease; }

#Formar {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease; }

#EditarCliente {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease;
  overflow-y: scroll; }

#borrarKid {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease;
  overflow-y: scroll; }

#EditarProfesor {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease;
  overflow-y: scroll; }

#CrearNinos {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease;
  overflow-y: scroll; }

#EditarNinos {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease;
  overflow-y: scroll; }

.imagenes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem; }
  @media (max-width: 37.5em) {
    .imagenes {
      flex-direction: column;
      align-items: center; } }

.ima {
  width: 25%;
  border-radius: 50%; }
  @media (max-width: 37.5em) {
    .ima {
      width: 40%; } }

.centered {
  text-align: center; }
  @media (max-width: 27.375em) {
    .centered {
      justify-content: center; } }

.kid {
  background-color: #97D5E0;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  text-align: center; }

.tituloNiños {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center; }

.inputClientes {
  font-size: 1.6rem;
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 0.5rem;
  padding: 1rem;
  border: var(--color1) solid 1px;
  background-color: #ffe0bd;
  outline: none; }

.btn-usuarios {
  margin-top: 1rem; }

.inputGrupo {
  margin-top: 3rem; }

.pagadoCss {
  height: 100%;
  width: 100%; }

.content {
  margin: 2rem;
  padding: 1rem;
  background-color: #dddddd;
  border-radius: 1rem; }

.text {
  font-size: 2rem; }

#borrarPr {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease; }

#FormarPr {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease; }

#EditarPr {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease; }

.logotipo {
  text-align: center;
  border-radius: 50%;
  height: 25%;
  width: 70%;
  top: 73%;
  right: 17%;
  position: absolute; }
  @media (max-width: 56.25em) {
    .logotipo {
      display: none; } }

#EditarInforme {
  z-index: 21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: .7s ease; }

.division {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem; }
  @media (max-width: 87.5em) {
    .division {
      text-align: center; } }

.bienImg {
  height: 100%;
  width: 100%;
  border-radius: 50%; }
  @media (max-width: 87.5em) {
    .bienImg {
      height: 100%;
      width: 50%; } }

.datosBien {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; }
  .datosBien_datos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  @media (max-width: 87.5em) {
    .datosBien {
      grid-column: 1/ 3; } }

@media (max-width: 87.5em) {
  .imagenBien {
    grid-column: 1/ 3; } }

.final {
  background-color: #fff9a4; }

.ref {
  font-size: 1.6rem; }

.rojo {
  background-color: #ffa4a4; }

.verde {
  background-color: #b2ffa4; }

.res {
  font-size: 2.3rem; }

.centrado {
  text-align: center;
  margin-bottom: 2rem; }

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25); }

.alert--success {
  background-color: #20bf6b; }

.alert--error {
  background-color: #eb4d4b; }

:root {
  --color1: #ff0000;
  --color2: rgb(255, 179, 0);
  --color3: #ff3300;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*::selection {
  background-color: var(--color3);
  color: white; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700; }
  @media (max-width: 68.75em) {
    html {
      font-size: 50%; } }

.titles {
  font-family: 'Roboto', sans-serif;
  font-weight: 600; }

.btn {
  text-decoration: none;
  color: white;
  border-radius: 3rem;
  font-size: 3rem;
  padding: 1rem 2rem;
  background-size: 220%;
  transition: .45s; }
  .btn:hover {
    background-position: 100%;
    transform: translateX(-3px);
    -webkit-transform: translateY(-3px);
    box-shadow: 0rem 0rem 3rem black; }
  .btn-orange {
    background-image: linear-gradient(120deg, rgba(172, 82, 82, 0.445) 0%, rgba(194, 84, 84, 0.445) 50%, var(--color1) 50%); }
  .btn-green {
    background-image: linear-gradient(120deg, rgba(172, 138, 82, 0.445) 0%, rgba(172, 141, 82, 0.445) 50%, var(--color2) 50%); }
  .btn-orange:active {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #c50000 50%); }
  .btn-green:active {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #e29e00 50%); }

.h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--color1), var(--color2)); }

.h3 {
  font-size: 2.3rem;
  margin: 2rem 0; }
  .h3-background-1 {
    margin: 0;
    color: white;
    padding: 4rem 0;
    font-size: 3rem;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.212)), url("/img/estee-janssens-zni0zgb3bkQ-unsplash.jpg");
    background-size: cover;
    background-position: center center; }
  .h3-background-2 {
    margin: 0;
    color: white;
    padding: 4rem 0;
    font-size: 3rem;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.212)), url("/img/ben-libby-tO8hYa1N-bc-unsplash.jpg");
    background-size: cover;
    background-position: center center; }
  .h3-background-3 {
    margin: 0;
    color: white;
    padding: 4rem 0;
    font-size: 3rem;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.212)), url("/img/sigmund-OV44gxH71DU-unsplash.jpg");
    background-size: cover;
    background-position: center center; }

.loader {
  margin: 5rem auto;
  text-align: center; }

.loader svg {
  height: 5.5rem;
  width: 5.5rem;
  fill: var(--color3);
  transform-origin: 44% 50%;
  animation: rotate 1.5s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.navigation {
  z-index: 10; }
  .navigation__background {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    transform: scale(1);
    position: fixed;
    background: #ffad88;
    right: 3rem;
    top: 3rem;
    z-index: 11;
    transition: 0.8s transform cubic-bezier(0.6, -0.09, 0.45, 1.16);
    border: #dbdbdb 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s; }
    .navigation__background::after {
      position: absolute;
      content: "";
      width: 2.8rem;
      height: 0.2rem;
      background-color: white;
      transform: translateY(-1rem);
      box-shadow: 0 10px 0 white;
      transition: .2s; }
      @media (max-width: 68.75em) {
        .navigation__background::after {
          box-shadow: 0 8px 0 white; } }
    .navigation__background::before {
      position: absolute;
      content: "";
      width: 2.8rem;
      height: 0.2rem;
      background-color: white;
      transform: translateY(1rem);
      transition: .2s; }
  .navigation__background-active {
    background-color: var(--color1); }
    .navigation__background-active::after {
      transform: rotate(135deg) translateY(0rem);
      box-shadow: none; }
    .navigation__background-active::before {
      transform: rotate(225deg) translateY(0rem); }

.cover {
  z-index: 8;
  width: 0vw;
  height: 0vh;
  position: fixed; }

.cover-active {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.308); }

.nav {
  font-family: 'Roboto', sans-serif;
  z-index: 9;
  position: fixed;
  height: 100vh;
  width: 30vw;
  left: -100rem;
  transition: .6s ease;
  background: linear-gradient(to right bottom, var(--color1), #ffc933); }
  @media (max-width: 68.75em) {
    .nav {
      width: 50vw; } }
  @media (max-width: 37.5em) {
    .nav {
      width: 100vw; } }
  .nav_options {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white; }
    .nav_options-logo {
      text-align: center;
      font-size: 4rem;
      margin-bottom: 2rem;
      margin-top: 2rem; }
    .nav_options-choice {
      display: flex;
      align-items: center;
      position: relative;
      padding: 3rem;
      font-size: 3rem;
      color: white;
      text-decoration: none; }
      .nav_options-choice_svg {
        height: 4rem;
        z-index: 10;
        fill: white;
        width: 4rem;
        margin-right: 2rem; }
      .nav_options-choice span {
        z-index: 10; }
      .nav_options-choice::before {
        content: "";
        position: absolute;
        top: 0;
        transform-origin: bottom;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: var(--color3);
        transform: scaleY(0);
        transition: 0.3s ease transform, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
      .nav_options-choice:hover::before {
        transform: scaleY(1);
        width: 100%; }
      .nav_options-choice:not(:last-child) {
        margin-bottom: 1rem; }
      .nav_options-choice:active::before {
        background-color: #991f00; }
      .nav_options-choice-active::before {
        transform: scaleY(1);
        width: 100%; }
      .nav_options-choice-active {
        pointer-events: none; }
  .nav-active {
    left: 0; }

.textoNombre {
  font-size: 2rem;
  padding: 0 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
  border-top: 1px solid white;
  padding-top: 1rem; }

.formulario {
  padding: 15rem 0;
  background-image: radial-gradient(circle, #ff1818, #ff8726, #ff7932, #fc6c3c, #f86045, #f86251, #f7655c, #f66967, #fa7a78, #fc8a89, #fe9a9a, #ffaaaa);
  display: flex;
  justify-content: center;
  background-attachment: fixed;
  align-items: center; }
  @media (max-width: 37.5em) {
    .formulario {
      padding: 0;
      height: 100%; } }

.form {
  display: flex;
  overflow-y: scroll;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.356);
  flex-direction: column;
  backdrop-filter: blur(150px);
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.376);
  border: solid 1px whitesmoke;
  width: 50vw; }
  @media (max-width: 56.25em) {
    .form {
      width: 75vw; } }
  @media (max-width: 37.5em) {
    .form {
      width: 100vw;
      height: 100%; } }

.input {
  position: relative; }
  .input_label {
    position: absolute;
    top: 13%;
    left: 2%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    transition: .3s ease; }
  .input_inputs {
    font-size: 2.3rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 4rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.513);
    border: solid white 1px; }
  .input:focus-within .input_label {
    font-size: 1.5rem;
    top: -20%; }

.h2Form {
  text-align: center;
  padding-bottom: 4rem;
  background-image: linear-gradient(to right, white, white); }

.confirmado {
  font-size: 1.5rem;
  top: -20%; }

.btn-sub {
  border: none;
  margin-bottom: 2rem; }

.login {
  height: 100vh; }

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden; }

.custom-file-input::before {
  content: 'Seleccionar foto o captura';
  display: inline-block;
  background: whitesmoke;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt; }

.custom-file-input:hover::before {
  border-color: black; }

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }
